<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

 Copyright 1997-2008 Sun Microsystems, Inc. All rights reserved.

 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common Development
 and Distribution License("CDDL") (collectively, the "License").  You
 may not use this file except in compliance with the License. You can obtain
 a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 language governing permissions and limitations under the License.

 When distributing the software, include this License Header Notice in each
 file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 Sun designates this particular file as subject to the "Classpath" exception
 as provided by Sun in the GPL Version 2 section of the License file that
 accompanied this code.  If applicable, add the following below the License
 Header, with the fields enclosed by brackets [] replaced by your own
 identifying information: "Portions Copyrighted [year]
 [name of copyright owner]"

 Contributor(s):

 If you wish your version of this file to be governed by only the CDDL or
 only the GPL Version 2, indicate your decision by adding "[Contributor]
 elects to include this software in this distribution under the [CDDL or GPL
 Version 2] license."  If you don't indicate a single choice of license, a
 recipient has the option to distribute your version of this file under
 either the CDDL, the GPL Version 2 or to extend the choice of license to
 its licensees as provided above.  However, if you add GPL Version 2 code
 and therefore, elected the GPL Version 2 license, then the option applies
 only if the new code is made subject to such option by the copyright
 holder.


 This file incorporates work covered by the following copyright and
 permission notice:

 Copyright 2004 The Apache Software Foundation

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<body>

<p>This package contains a set of <code>Task</code> implementations for
<em>Ant (version 1.4 or later)</em> that can be used to interact with the
Manager application to install, reload, and remove web applications from
a running instance of Tomcat.  For more information, see
<a href="http://jakarta.apache.org/tomcat/tomcat-4.0-doc/manager-howto.html">
http://jakarta.apache.org/tomcat/tomcat-4.0-doc/manager-howto.html</a>.</p>

<p>The attributes of each task element correspond
exactly to the request parameters that are included with an HTTP request
sent directly to the Manager application.  They are summarized as follows:
</p>

<table>
  <tr>
    <th align="center" width="15%">Attribute</th>
    <th align="center" width="85%">Description</th>
  </tr>
  <tr>
    <td align="center">url</td>
    <td>
      The URL of the Manager web application you will use to
      perform the requested operations.  If not specified, defaults to
      <code>http://localhost:8080/manager</code> (which corresponds
      to a standard installation of Tomcat 5).
    </td>
  </tr>
  <tr>
    <td align="center">username</td>
    <td>
      The username of a Tomcat user that has been configured with the
      <code>manager</code> role, as required to execute Manager
      application commands.  This attribute is required.
    </td>
  </tr>
  <tr>
    <td align="center">password</td>
    <td>
      The password of a Tomcat user that has been configured with the
      <code>manager</code> role, as required to execute Manager
      application commands.  This attribute is required.
    </td>
  </tr>
  <tr>
    <td align="center">config</td>
    <td>
      A URL pointing at the context configuration file (i.e. a file
      containing only the <code>&lt;Context&gt;</code> element, and
      its nested elements, from <code>server.xml</code> for a particular
      web application).  This attribute is supported only on the
      <code>install</code> target, and is required only if you wish to
      install an application with non-default configuration characteristics.
    </td>
  </tr>
  <tr>
    <td align="center">path</td>
    <td>
      The context path (including the leading slash) of the web application
      this command is intended to manage, or a zero-length string for the
      ROOT web application.  This attribute is valid for the
      <code>install</code>, <code>reload</code>, <code>remove</code>,
      <code>start</code>, and <code>stop</code> tasks only, and is
      required in all of those cases.
    </td>
  </tr>
  <tr>
    <td align="center">war</td>
    <td>
      A <code>jar:</code> URL that points at a web application archive (WAR)
      file, or a <code>file:</code> URL that points at an unpacked directory
      containing the web application.  This attribute is supported only on
      the <code>install</code> target.  You must specify at least one of the
      <code>config</code> and <code>war</code> attributes; if you specify
      both, the <code>war</code> attribute overrides the <code>docBase</code>
      attribute in the context configuration file.
    </td>
  </tr>
</table>

<p><strong>NOTE</strong> - Commands executed through the <em>Manager</em>
application are <strong>NOT</strong> reflected in updates to the Tomcat
<code>server.xml</code> configuration file, so they do not persist past the
next time you restart the entire Tomcat container.</p>

</body>
