<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

 Copyright 1997-2008 Sun Microsystems, Inc. All rights reserved.

 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common Development
 and Distribution License("CDDL") (collectively, the "License").  You
 may not use this file except in compliance with the License. You can obtain
 a copy of the License at https://glassfish.dev.java.net/public/CDDL+GPL.html
 or glassfish/bootstrap/legal/LICENSE.txt.  See the License for the specific
 language governing permissions and limitations under the License.

 When distributing the software, include this License Header Notice in each
 file and include the License file at glassfish/bootstrap/legal/LICENSE.txt.
 Sun designates this particular file as subject to the "Classpath" exception
 as provided by Sun in the GPL Version 2 section of the License file that
 accompanied this code.  If applicable, add the following below the License
 Header, with the fields enclosed by brackets [] replaced by your own
 identifying information: "Portions Copyrighted [year]
 [name of copyright owner]"

 Contributor(s):

 If you wish your version of this file to be governed by only the CDDL or
 only the GPL Version 2, indicate your decision by adding "[Contributor]
 elects to include this software in this distribution under the [CDDL or GPL
 Version 2] license."  If you don't indicate a single choice of license, a
 recipient has the option to distribute your version of this file under
 either the CDDL, the GPL Version 2 or to extend the choice of license to
 its licensees as provided above.  However, if you add GPL Version 2 code
 and therefore, elected the GPL Version 2 license, then the option applies
 only if the new code is made subject to such option by the copyright
 holder.


 This file incorporates work covered by the following copyright and
 permission notice:

 Copyright 2004 The Apache Software Foundation

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<h2>Low level management wrappers</h2>

This package provides a Dynamic MBean wrapper to Jk and other components ( tomcat
Interceptors, Ant tasks, etc ) that follow Java Bean setter patterns. 

<p>
It will also provide an abstraction of the config mechanism used - allowing multiple
config repositories to be used, and allowing persistence of the configuration. This 
is not yet implemented - the idea is similar with what happens on jk_config.c, 
i.e. have all configuration done via JMX layer, and have the JMX layer manage
the config file ( eventually via an abstraction layer )

<h3>JkConfig</h3>

This will be the main class for dealing with configs. 
It doesn't depend on JMX - all DynamicBeans will call JkConfig to actually 
set/get parameters on the various components.

It'll manage a tree ( with 2 levels ) represnetation of the config. Each
component will have a node, and we'll store the attribute names and 
( original ) attribute values. Ant-style substitution will happen before 
calling the actual setter. 

Runtime changes will be reflected in the config file. Since we maintain
the tree with whatever the user explicitely configures we don't have to
call getters or guess what has to be stored and what doesn't.

Internally it uses IntrospectionUtil to do all the conversions and magic.

<h3>DynamicMBeanProxy</h3>

This is what JMX sees. It'll make calls on JkConfig for handling the actual
configuration.

XXX Right now it does all the work, we must move it to JkConfig when ready.

<h3>JkHandlerMX</h3>

<h3>ProxyMX</h3>
